
    



.wrapper {

    display: grid;
    grid-template-areas: 
    'hd hd hd'
    'mn mn mn'
    'ft ft ft'; 
     grid-template-rows: 2em;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgba(73, 73, 121, 0.568) ;
    font-family: sans-serif;
    align-items: center;

}
.burger {
    margin-right: 50px;
    cursor: pointer;
}
.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: rgba(73, 73, 121, 0.568);
    align-items: center;
    width: 20%;
    transition: all 1s;
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;

}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgba(88, 88, 88, 0.705);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate( -5px, -6px);

}
.navActive {
    transform: translateY(100vh);
}
#Header {
   display:flex;
   align-items: center;
   justify-content: center;
   grid-area: hd;
   
    background: #1abc9c;
    color: white;
    font-size: 30px;
    width: 1200px;
    height: 10vh;
   
}

footer {
    grid-area: ft;
}
#main {
    grid-area: mn;
    border: solid 1px black; 
    height: 100vh;



   
}

#mn-content{
    display:flex;
    border: solid 1px black; 
    height: 100vh;
    flex-direction: row;
}

#section1{
    background-color: aquamarine;
    height: 100%; 
    width: 50%;
    margin: 10vh;
}

#section2{
    background-color: blueviolet;
    height: 100%; 
    width: 50%;
   margin: 10vh;

}



